{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Truelysell | Template</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'users/assets/img/favicon.png' %}">
	
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap" rel="stylesheet"> 
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'users/assets/plugins/bootstrap/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'users/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'users/assets/plugins/fontawesome/css/all.min.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'users/assets/css/style.css' %}">
</head>

<body>

	<div class="main-wrapper">
	
		<!-- Header -->
		<header class="header">
			<nav class="navbar navbar-expand-lg header-nav">
				<div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
						<span class="bar-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
					<a href= "#"  class="navbar-brand logo">
						<img src="{% static 'users/assets/img/logo1.png' %}" class="img-fluid" alt="Logo">
					</a>
					<a href= "#"  class="navbar-brand logo-small">
						<img src="{% static 'users/assets/img/head-logo.png' %}" class="img-fluid" alt="Logo">
					</a>
				</div>
				<div class="main-menu-wrapper">
					<div class="menu-header">
						<a href= "#"  class="menu-logo">
							<img src="{% static 'users/assets/img/logo1.png' %}" class="img-fluid" alt="Logo">
						</a>
						<a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
					</div>
					<ul class="main-nav">
						<li>
							<a href= "#" >Home</a>
						</li>
						<li>
							<a href= "{% url 'categories' %}" >Categories</a>
						</li>
						<li class="has-submenu">
							<a href= "{% url 'provider-dashboard' %}" >Providers</a>
							<ul class="submenu">
								<li><a href= "{% url 'provider-dashboard' %}" >Dashboard</a></li>
								<li><a href= "{% url 'my-services' %}" >Services</a></li>
								<li><a href= "{% url 'provider-bookings' %}" >Bookings</a></li>
								<li><a href= "{% url 'provider-settings' %}" >Profile Settings</a></li>
								<li><a href= "{% url 'provider-wallet' %}" >Wallet</a></li>
								<li><a href= "{% url 'provider-subscription' %}" >Subscription</a></li>
								<li><a href= "{% url 'provider-availability' %}" >Availability</a></li>
								<li><a href= "{% url 'provider-reviews' %}" >Reviews</a></li>
								<li><a href= "{% url 'provider-payment' %}" >Payment</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href= "{% url 'user-dashboard' %}" >Customers</a>
							<ul class="submenu">
								<li><a href= "{% url 'user-dashboard' %}" >Dashboard</a></li>
								<li><a href= "{% url 'user-bookings' %}" >Bookings</a></li>
								<li><a href= "{% url 'user-settings' %}" >Profile Settings</a></li>
								<li><a href= "{% url 'user-wallet' %}" >Wallet</a></li>
								<li><a href= "{% url 'user-reviews' %}" >Reviews</a></li>
								<li><a href= "{% url 'user-payment' %}" >Payment</a></li>
							</ul>
						</li>
						<li class="has-submenu active">
							<a href="#">Pages <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li><a href= "{% url 'search' %}" >Search</a></li>
								<li><a href= "{% url 'service-details' %}" >Service Details</a></li>
								<li><a href= "{% url 'add-service' %}" >Add Service</a></li>
								<li><a href= "{% url 'edit-service' %}" >Edit Service</a></li>
								<li><a href= "{% url 'chat' %}" >Chat</a></li>
								<li class="active"><a href= "{% url 'notifications' %}" >Notifications</a></li>
								<li><a href= "{% url 'about-us' %}" >About Us</a></li>
								<li><a href= "{% url 'contact-us' %}" >Contact Us</a></li>
								<li><a href= "{% url 'faq' %}" >Faq</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</li>
						<li>
							<a href="admin/index.html" target="_blank">Admin</a>
						</li>
					</ul>
				</div>

				<ul class="nav header-navbar-rht">

					<li class="nav-item desc-list">
						<a href= "{% url 'add-service' %}"  class="nav-link header-login">
							<i class="fas fa-plus-circle mr-1"></i> <span>Post a Service</span>
						</a>
					</li>

					<!-- Notifications -->
					<li class="nav-item dropdown logged-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fas fa-bell"></i> <span class="badge badge-pill bg-yellow">1</span>
						</a>
						<div class="dropdown-menu notify-blk dropdown-menu-right notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti">Clear All  </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href= "{% url 'notifications' %}" >
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'users/assets/img/customer/user-01.jpg' %}">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Jeffrey Akridge has booked your service</span></p>
													<p class="noti-time"><span class="notification-time">Today 10:04 PM</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href= "{% url 'notifications' %}" >
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'users/assets/img/customer/user-02.jpg' %}">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Nancy Olson has booked your service</span></p>
													<p class="noti-time"><span class="notification-time">Today 9:45 PM</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href= "{% url 'notifications' %}" >
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'users/assets/img/customer/user-03.jpg' %}">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Ramona Kingsley has booked your service</span></p>
													<p class="noti-time"><span class="notification-time">Yesterday 8:17 AM</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href= "{% url 'notifications' %}" >
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'users/assets/img/customer/user-04.jpg' %}">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Ricardo Lung has booked your service</span></p>
													<p class="noti-time"><span class="notification-time">Yesterday 6:20 AM</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href= "{% url 'notifications' %}" >
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'users/assets/img/customer/user-05.jpg' %}">
												</span>
												<div class="media-body">
													<p class="noti-details"> <span class="noti-title">Annette Silva has booked your service</span></p>
													<p class="noti-time"><span class="notification-time">17 Sep 2020 10:04 PM</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href= "{% url 'notifications' %}" >View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->

					<!-- chat -->
					<li class="nav-item logged-item">
						<a href= "{% url 'chat' %}"  class="nav-link">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</a>
					</li>
					<!-- /chat -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow logged-item">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
							<span class="user-img">
								<img class="rounded-circle" src="{% static 'users/assets/img/provider/provider-01.jpg' %}" alt="" width="31">
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img class="avatar-img rounded-circle" src="{% static 'users/assets/img/provider/provider-01.jpg' %}" alt="">
								</div>
								<div class="user-text">
									<h6 class="text-truncate">Thomas</h6>
									<p class="text-muted mb-0">Provider</p>
								</div>
							</div>
							<a class="dropdown-item" href= "{% url 'provider-dashboard' %}" >Dashboard</a>
							<a class="dropdown-item" href= "{% url 'my-services' %}" >My Services</a>
							<a class="dropdown-item" href= "{% url 'provider-bookings' %}" >Booking List</a>
							<a class="dropdown-item" href= "{% url 'provider-settings' %}" >Profile Settings</a>
							<a class="dropdown-item" href= "{% url 'provider-wallet' %}" >Wallet</a>
							<a class="dropdown-item" href= "{% url 'provider-subscription' %}" >Subscription</a>
							<a class="dropdown-item" href= "{% url 'provider-availability' %}" >Availability</a>
							<a class="dropdown-item" href= "{% url 'chat' %}" >Chat</a>
							<a class="dropdown-item" href= "#" >Logout</a>
						</div>
					</li>
					<!-- /User Menu -->

				</ul>

			</nav>
		</header>
		<!-- /Header -->
		
		<div class="content">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div>
							<h4 class="widget-title">Notifications</h4>
							<div class="notcenter">
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-01.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Jeffrey Akridge has booked your service</strong></h3>
												<span>Today 01:35 PM</span>
											</div>
										</div>
									</div>
								</div>
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-02.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Nancy Olson booked your service</strong></h3>
												<span>Yesterday 01:31 PM</span>
											</div>
										</div>
									</div>
								</div>
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-03.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Ramona Kingsley booked your service</strong></h3>
												<span>18 Sep 2020 01:29 PM</span>
											</div>
										</div>
									</div>
								</div>
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-04.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Ricardo Lung have rejected the service</strong></h3>
												<span>17 Sep 2020 01:21 PM</span>
											</div>
										</div>
									</div>
								</div>
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-05.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Annette Silva has booked your service</strong></h3>
												<span>16 Sep 2020 01:15 PM</span>
											</div>
										</div>
									</div>
								</div>
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-06.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Stephen Wilson has booked your service</strong></h3>
												<span>15 Sep 2020 08:03 PM</span>
											</div>
										</div>
									</div>
								</div>
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-07.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Ryan Rodriguez has booked your service</strong></h3>
												<span>14 Sep 2020 09:29 PM</span>
											</div>
										</div>
									</div>
								</div>
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-08.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Lucile Devera booked your service</strong></h3>
												<span>13 Sep 2020 08:40 PM</span>
											</div>
										</div>
									</div>
								</div>
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-09.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Roland Storey has booked your service</strong></h3>
												<span>12 Sep 2020 01:59 PM</span>
											</div>
										</div>
									</div>
								</div>
								<div class="notificationlist">
									<div class="inner-content-blk position-relative">
										<div class="d-flex text-dark">
											<img class="rounded" src="{% static 'users/assets/img/customer/user-10.jpg' %}" width="50" alt="">
											<div class="noti-contents">
												<h3><strong>Lindsey Parmley has cancelled the service</strong></h3>
												<span>11 Sep 2020 04:38 AM</span>
											</div>
										</div>
									</div>
								</div>
								
							</div>
								
							<!-- Pagination -->
							<div class="pagination">
								<ul>
									<li class="active">
										<a href="javascript:void(0);">1</a>
									</li>
									<li>
										<a href="javascript:void(0);">2</a>
									</li>
									<li>
										<a href="javascript:void(0);">3</a>
									</li>
									<li>
										<a href="javascript:void(0);">4</a>
									</li>
									<li class="arrow">
										<a href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
									</li>
								</ul>
							</div>
							<!-- /Pagination -->
							
						</div>
					</div>
				</div>
			</div>
		</div>﻿
		
		<!-- Footer -->
		<footer class="footer">
		
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">Quick Links  </h2>
								<ul>
									<li>
										<a href= "{% url 'about-us' %}" >About Us</a>
									</li>
									<li>
										<a href= "{% url 'contact-us' %}" >Contact Us</a>
									</li>
									<li>
										<a href= "{% url 'faq' %}" >Faq</a>
									</li>
									<li>
										<a href="#">Help</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">Categories</h2>
								<ul>
									<li>
										<a href= "{% url 'search' %}" >Computer</a>
									</li>
									<li>
										<a href= "{% url 'search' %}" >Interior</a>
									</li>
									<li>
										<a href= "{% url 'search' %}" >Car Wash</a>
									</li>
									<li>
										<a href= "{% url 'search' %}" >Cleaning</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="far fa-building"></i></span>
										<p>4, Humming Bird, Iscon Road, Vallabh Vidhyanagar, Anand</p>
									</div>
									<p><i class="fas fa-phone"></i> +91 9824341414</p>
									<p class="mb-0"><i class="fas fa-envelope"></i> info@sarkaar.com</p>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget">
								<h2 class="footer-title">Follow Us</h2>
								<div class="social-icon">
									<ul>
										<li>
											<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a>
										</li>
									</ul>
								</div>
								<div class="subscribe-form">
                                    <input type="email" class="form-control" placeholder="Enter your email">
                                    <button type="submit" class="btn footer-btn">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                </div>
							</div>
							<!-- /Footer Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Top -->
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0">&copy; 2020 <a href= "#" >Sarkaar</a>. All rights reserved.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<ul class="policy-menu">
										<li>
											<a href= "{% url 'term-condition' %}" >Terms and Conditions</a>
										</li>
										<li>
											<a href= "{% url 'privacy-policy' %}" >Privacy</a>
										</li>
									</ul>
								</div>
								<!-- /Copyright Menu -->
							</div>
						</div>
					</div>
					<!-- /Copyright -->
				</div>
			</div>
			<!-- /Footer Bottom -->
			
		</footer>
		<!-- /Footer -->
		
	</div>

	<!-- jQuery -->
	<script src="{% static 'users/assets/js/jquery-3.5.0.min.js' %}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'users/assets/js/popper.min.js' %}"></script>
	<script src="{% static 'users/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'users/assets/js/script.js' %}"></script>
	
</body>

<!-- Mirrored from truelysell-html.dreamguystech.com/template/notifications.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 18 Jan 2021 13:32:19 GMT -->
</html>